@page "/people/edit/{personId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@attribute [Authorize]

<h3>Edit</h3>

<PersonForm ButtonText="Edit Person" Person="person"
            OnValidSubmit="@EditPerson" />

@code {
    [Parameter] public int personId { get; set; }
    Person person = new Person();

    protected async override Task OnParametersSetAsync()
    {
        person = await http.GetJsonAsync<Person>($"api/people/{personId}");
    }

    async Task EditPerson(){
        await http.PutJsonAsync("api/people", person);
        uriHelper.NavigateTo("people");
    }
}
