@page "/counter"
@attribute [Authorize]
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<div>
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>

@*<AuthorizeView>
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>
    <NotAuthorized>
        You are not authorized to do this
    </NotAuthorized>
    <Authorizing>
        Authorizing...
    </Authorizing>
</AuthorizeView>*@

<input type="number" @bind-value="currentCount" @bind-value:event="oninput" />

